body{
    margin:20px;

}

.IMG1{
    width:150px;
}

.card {
    display : flex ;
    margin: 50px auto ;
    
    text-align: center;
    justify-content:space-around;
    width: 400px;
    padding:20px 40px;
    background-color: rgb(218, 254, 255);
    border-bottom: 5px solid  plum;
    color:rgb(120, 0, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border-radius: 50px;
}

.BB{
}